<br>
<h4 class="footer">ce mois-ci</h4>
<div class="card">
    <img src="{{ asset('images/livres/medium/bilal_32decembre.jpg') }}" class="card-img-top" alt="decembre">
    <div class="card-body">
        <h5><a href="">32 décembre</a></h5>
        <p class="card-text">
            Auteur: <span>Enki Bilal</span><br>
            Editeur: <span>Les humanoides associés</span><br><br>
            <span class="badge badge-success">Prix : 13.00€</span><br><br>
            Attention, événement ! Cinq ans après Le sommeil du monstre, paru en 1998,
            Enkil Bilal est de retour. Nom de l'album : <span>32 décembre</span>
        </p>
        <a href="#" class="btn btn-primary">Acheter</a>
    </div>
</div>