<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{ asset('images/charte/slider/slider-book-pages.jpg') }}" class="d-block w-100" alt="" slide1>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('images/charte/slider/slider-bench-books.jpg') }}" class="d-block w-100" alt="" slide2>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('images/charte/slider/slider-book-flowers.jpg') }}" class="d-block w-100" alt="" slide3>
        </div>
        <div class="carousel-item">
            <img src="{{ asset('images/charte/slider/slider-library-bulbs.jpg') }}" class="d-block w-100" alt="" slide4>
        </div>
    </div>
</div>