<h5 class="footer">Copyright 2020 -- <span style="font-weight: bold;">gigastore</span></h5>
<h5 class="footer">Tous droits de reproduction réservés</h5>
<h5 class="footer"><a href="{{ path('mentions') }}">Mentions légales</a>&emsp;&emsp;<a href="{{ path('cgv') }}">CGV</a></h5>