<hr>
<h4><i class="far fa-hand-point-right"></i> Voici quelques livres qui peuvent vous intéresser</h4>
<div class="card-deck">

    <div class="card">
        <img src="{{ asset('images/livres/medium/hpotter_chambre_secrets.jpg') }}" class="card-img-top" alt="J.K. Rowling">
        <div class="card-body">
            <h5><a href="">Harry Potter et la chambre des secrets</a></h5>
            <p class="card-text">
                <span>J. K. Rowling</span>
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">Voir</button>
        </div>
    </div>

    <div class="card">
        <img src="{{ asset('images/livres/medium/vargas_pars_vite.jpg') }}" class="card-img-top" alt="Fred Vargas">
        <div class="card-body">
            <h5><a href="">Pars vite et reviens plus tard</a></h5>
            <p class="card-text">
                <span>Fred Vargas</span>
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">Voir</button>
        </div>
    </div>

    <div class="card">
        <img src="{{ asset('images/livres/medium/troy_feu.jpg') }}" class="card-img-top" alt="Mourier/Arleston">
        <div class="card-body">
            <h5><a href="">Trolls de Troy</a></h5>
            <p class="card-text">
                <span>Mourier / Arleston</span>
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">Voir</button>
        </div>
    </div>

    <div class="card">
        <img src="{{ asset('images/livres/medium/celine_voyage.jpg') }}" class="card-img-top" alt="Louis Ferdinand Céline">
        <div class="card-body">
            <h5><a href="">Voyage au bout de la nuit</a></h5>
            <p class="card-text">
                <span>Louis Ferdinand Céline</span>
            </p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary">Voir</button>
        </div>
    </div>
</div>
<br><br>