<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--navigation pure -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--partie gauche (définie par la première balise englobante)-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}"><i class="fas fa-home"></i> Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('bookCatalog', { codeGenre: 'TOUS' }) }}"><i class="fas fa-book-open"></i> Livres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('construction') }}"><i class="fab fa-youtube"></i> DVD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('construction') }}"><i class="far fa-eye"></i> Spectacles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('construction') }}"><i class="fas fa-desktop"></i> Informatiques</a>
            </li>
        </ul>
        <!--2eme balise englobante définit la partie droite du menu-->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nous') }}"><i class="fas fa-info-circle"></i> Qui sommes-nous ?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact') }}"><i class="fas fa-envelope"></i> Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"><i class="fas fa-spinner"></i> Thème
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for theme in themeController.getThemes() %}
                        {# id ci-dessous est le segment d'URL déini dans le routing pour la route qui s'appelle selecttheme #}
                        <a class="dropdown-item" href="{{ path('selecttheme', {id: theme | lower}) }}">{{ theme }}</a>
                    {% endfor %}

                </div>
            </li>
        </ul>
    </div>
</nav>