{% extends 'layout/master-layout.html.twig' %}

{% block title %}Livre{% endblock %}

{% block aside %}
    {% include 'partials/aside.html.twig' %}
{% endblock %}

{% block section %}
    <br>
    <div class="container">
    <div class="row">
        <!--partie 1 du livre-->
        <div class="col-md-8">
            <h1>{{ livre.titre }}</h1>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td>Référence</td>
                    <th>{{ livre.id }}</th>
                </tr>
                <tr>
                    <td>Auteur</td>
                    <th>{{ livre.auteur }}</th>
                </tr>
                <tr>
                    <td>Editeur</td>
                    <th>{{ livre.editeur }}</th>
                </tr>
                <tr>
                    <td>Collection</td>
                    <th>{{ livre.collection | default('Pas de collection') }}</th>
                </tr>
                </tbody>
            </table>

            <h1>Résumé</h1>
            {{ livre.description }}

            {% if livre.description == null %}
                <div class="alert alert-primary" role="alert">
                    Pas de résumé.
                </div>
            {% endif %}

            <br><br><br>
        </div>

        <div class="col-md-4">
            <img class="img-fluid" src="{{ asset('images/livres/zooms/'~livre.photo) }}" alt="{{ livre.titre }}">
            <br><br>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <td>Format</td>
                    <!-- valeur par defaut-->
                    <th>{{ livre.format | default('Pas de format') }}</th>
                </tr>
                <tr>
                    <td>Pages</td>
                    <th>{{ livre.pages }}</th>
                </tr>
                <tr>
                    <td>Poids</td>
                    <th>{{ livre.poids }} kg</th>
                </tr>
                <tr>
                    <td>Livraison</td>
                    <th>{{ livre.delaiDeLivraison}}</th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    </div>
{% endblock %}