{% extends 'layout/master-layout.html.twig' %}

{% block title %}Construction{% endblock %}

{% block aside %}
    {% include 'partials/aside.html.twig' %}
{% endblock %}

{% block section %}
    <br>
    <h3>Catalogue des livres</h3>

    <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link active" id="pills-home-tab" data-toggle="pill"
           href="{{ path('bookCatalog', { codeGenre: 'TOUS' }) }}">Tous les livres</a>
        {% for genre in genres %}
            <a class="nav-item nav-link" href="{{ path('bookCatalog', {codeGenre: genre.code}) }}">{{ genre.intitule }}</a>
        {% endfor %}
    </nav>


    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-link">
            <a href="{{ path('bookCatalog', { codeGenre: 'TOUS' }) }}">Tous les livres</a>
        </button>
        {% for genre in genres %}
            <button type="button" class="btn btn-link">
                <a href="{{ path('bookCatalog', {codeGenre: genre.code}) }}">{{ genre.intitule }}</a>
            </button>
        {% endfor %}
    </div>


    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="tous">
            <a class="nav-item nav-link active" id="pills-home-tab" data-toggle="pill" href="{{ path('bookCatalog', { codeGenre: 'TOUS' }) }}"
               role="tab" aria-controls="pills-home" aria-selected="true">Tous les livres</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
               role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
               role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>


    <!-- garder une apparence fluide-->
    <div class="container">
        <div class="row">
            <!-- affichage des livres -->
            {% for livre in livres %}
                <div class="col-md-4">
                    <div class="card-deck">
                        <div class="card">
                            <img src="{{ asset('images/livres/medium/'~livre.photo) }}" class="card-img-top"
                                 alt="{{ livre.titre }}">
                            <div class="card-body">
                                <h5><a href="{{ path('fichelivre', {id: livre.id}) }}">{{ livre.titre }}</a></h5>
                                <p class="card-text">
                                    Auteur: <span>{{ livre.auteur }}</span><br>
                                    Editeur: <span>{{ livre.editeur }}</span><br>
                                    {% if livre.collection != null %}
                                        Collection: <span>{{ livre.collection }}</span><br>
                                    {% endif %}
                                    <span class="badge badge-success">Prix : {{ livre.prix }}€</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>





{% endblock %}