{% extends 'layout/master-layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block aside %}
    {% include 'partials/aside.html.twig' %}
{% endblock %}

    {% block section %}
        <br>
        <div class="row">
            <section class="col-md-12">
                <h3>Conditions générales de vente</h3>
                <div class="row">
                    <div class="col-md-6">
                        <article>
                            <h4>Article 1</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Ad cumque est ipsa, laudantium modi natus nostrum odit porro,
                                quos reprehenderit rerum veritatis, voluptatem!
                                Amet consequuntur dolore excepturi itaque necessitatibus,
                                nesciunt nisi odio unde vero voluptatibus.
                                Ad ducimus ea eaque laboriosam pariatur repellat rerum.
                                Ex inventore ipsa odio omnis quibusdam repellat!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </article>
                        <article>
                            <h4>Article 2</h4>
                            Aliquid consectetur debitis dolore eius impedit incidunt ipsum maxime nihil nisi voluptatem.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium architecto atque cum libero omnis possimus recusandae vero?
                            Aliquid consectetur dolores et, impedit nam quam qui quia tenetur voluptate.
                            Accusantium amet animi blanditiis culpa cum cumque dolore dolorem expedita,
                            facere fugiat ipsum laborum libero magni optio quo reiciendis sunt vel vero?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Et fugit ipsam nisi numquam similique? Accusamus aliquid,
                            atque consectetur debitis eum explicabo,
                            hic impedit laudantium neque officia officiis temporibus veniam voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium ad consectetur cum deleniti dolorum,
                            esse est eum facere neque nostrum pariatur quae saepe,
                            sapiente similique sint suscipit unde vel vero?
                            </p>
                        </article>
                    </div>
                    <div class="col-md-6">
                        <article>
                            <h4>Article 3</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Ad cumque est ipsa, laudantium modi natus nostrum odit porro,
                                quos reprehenderit rerum veritatis, voluptatem!
                                Amet consequuntur dolore excepturi itaque necessitatibus,
                                nesciunt nisi odio unde vero voluptatibus.
                                Ad ducimus ea eaque laboriosam pariatur repellat rerum.
                                Ex inventore ipsa odio omnis quibusdam repellat!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </article>
                        <article>
                            <h4>Article 4</h4>
                            Aliquid consectetur debitis dolore eius impedit incidunt ipsum maxime nihil nisi voluptatem.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium architecto atque cum libero omnis possimus recusandae vero?
                            Aliquid consectetur dolores et, impedit nam quam qui quia tenetur voluptate.
                            Accusantium amet animi blanditiis culpa cum cumque dolore dolorem expedita,
                            facere fugiat ipsum laborum libero magni optio quo reiciendis sunt vel vero?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Et fugit ipsam nisi numquam similique? Accusamus aliquid,
                            atque consectetur debitis eum explicabo,
                            hic impedit laudantium neque officia officiis temporibus veniam voluptates.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </article>
                        <article>
                            <h4>Article 5</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Ad cumque est ipsa, laudantium modi natus nostrum odit porro,
                                quos reprehenderit rerum veritatis, voluptatem!
                                Amet consequuntur dolore excepturi itaque necessitatibus,
                                nesciunt nisi odio unde vero voluptatibus.
                                Ad ducimus ea eaque laboriosam pariatur repellat rerum.
                                Ex inventore ipsa odio omnis quibusdam repellat!
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </article>
                    </div>
                </div>{% include 'partials/livres.html.twig' %}
            </section>


        </div>

        </div>
    {% endblock %}


