{% extends 'layout/master-layout.html.twig' %}

{% block title %}Construction{% endblock %}

{% block aside %}
    {% include 'partials/aside.html.twig' %}
{% endblock %}

{% block section %}
    <br>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-5">En construction...</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad cumque est ipsa, laudantium modi natus nostrum odit porro,
                quos reprehenderit rerum veritatis, voluptatem!
                Amet consequuntur dolore excepturi itaque necessitatibus,
                nesciunt nisi odio unde vero voluptatibus.
                Ad ducimus ea eaque laboriosam pariatur repellat rerum.
                Ex inventore ipsa odio omnis quibusdam repellat!</p>
        </div>
    </div>
{% endblock %}