{% extends 'layout/master-layout.html.twig' %}

{% block title %}Construction{% endblock %}

{% block aside %}
    {% include 'partials/aside.html.twig' %}
{% endblock %}

{% block section %}
    <br>
    <div class="row">
        <section class="col-md-12">
            <h2>Nos coordonnées</h2>
            <h4>Gigastore</h4>
            <p>2 Rue Edouard Beauvais <br>
                56100 Lorient</p>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2682.3321057215844!2d-3.3706311845437167!3d47.7556122856657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48105eff3a5a965d%3A0xf7c8d67ac1f7deb8!2sCCI%20Formation%20Lorient!5e0!3m2!1sfr!2sfr!4v1589378272384!5m2!1sfr!2sfr"
                    width="100%" height="430px" frameborder="0" style="..." allowfullscreen="" aria-hidden="false"
                    tabindex="0">
            </iframe>
        </section>
    </div>
{% endblock %}