{% extends 'layout/master-layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block aside %}
    {% include 'partials/aside.html.twig' %}
{% endblock %}

    {% block section %}
        <div class="row">
            <section class="col-md-12">
                <br>
                <div class="jumbotron">
                    <h1>Bienvenue sur le site Gigastore !!</h1>
                    <p class="lead">Plus de <span>100 000 références</span> à des prix <span>imbattables !</span></p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
                </div>

                <h3>Bienvenue !</h3>
                <div class="row">
                    <div class="col-md-7">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aut beatae, dolorum eaque eligendi eum ex illo in,
                        laboriosam laudantium recusandae reiciendis saepe tempora tempore,
                        ullam velit? Dolorum expedita hic non quasi soluta, totam unde.
                        At neque pariatur provident tenetur. Adipisci aliquid ea quibusdam quod!
                        Aperiam aspernatur delectus dolorem error rerum!
                    </div>
                    <div class="col-md-5">
                        <img class="img-fluid" src="{{ asset('images/charte/books.jpg') }}" alt="" livres>
                    </div>
                </div>
                <br>
                <div class="alert alert-primary" role="alert">
                    Promotions spéciales sur les <span>livres</span>, profitez-en !
                </div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusantium asperiores consequatur eius eum expedita neque quis quos,
                rem saepe veniam. Rem repellat, similique? Assumenda distinctio minus nulla placeat!
                A adipisci asperiores at deleniti eum eveniet expedita incidunt qui <br>
                Alias consectetur enim in, iste sequi voluptatibus. Excepturi mollitia nisi sint?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Corporis delectus minima nemo? Alias aperiam doloremque earum eos qui quo repellendus.

                {% include 'partials/livres.html.twig' %}

            </section>
        </div>
    {% endblock %}


