{% extends 'layout/master-layout.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block aside %}
    {% include 'partials/aside.html.twig' %}
{% endblock %}

    {% block section %}
        <br>
        <div class="row">
            <section class="col-md-12">
                <h3>Mentions légales</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Comment acheter sur notre site ?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ad cumque est ipsa, laudantium modi natus nostrum odit porro,
                            quos reprehenderit rerum veritatis, voluptatem!
                            Amet consequuntur dolore excepturi itaque necessitatibus,
                            nesciunt nisi odio unde vero voluptatibus.
                            Ad ducimus ea eaque laboriosam pariatur repellat rerum.
                            Ex inventore ipsa odio omnis quibusdam repellat!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br>

                            Aliquid consectetur debitis dolore eius impedit incidunt ipsum maxime nihil nisi voluptatem.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Accusantium architecto atque cum libero omnis possimus recusandae vero?
                            Aliquid consectetur dolores et, impedit nam quam qui quia tenetur voluptate.
                            Accusantium amet animi blanditiis culpa cum cumque dolore dolorem expedita,
                            facere fugiat ipsum laborum libero magni optio quo reiciendis sunt vel vero?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Et fugit ipsam nisi numquam similique? Accusamus aliquid,
                            atque consectetur debitis eum explicabo,
                            hic impedit laudantium neque officia officiis temporibus veniam voluptates.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>En cas de problèmes</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ad cumque est ipsa, laudantium modi natus nostrum odit porro,
                            quos reprehenderit rerum veritatis, voluptatem!
                            Amet consequuntur dolore excepturi itaque necessitatibus,
                            nesciunt nisi odio unde vero voluptatibus.
                            Ad ducimus ea eaque laboriosam pariatur repellat rerum.
                            Ex inventore ipsa odio omnis quibusdam repellat!<br><br>

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            A aliquam, atque consequuntur,
                            cumque delectus deleniti error iusto libero nihil numquam quod reiciendis repellat sapiente
                            sunt
                            voluptate!
                            Ad, aspernatur culpa ea eligendi exercitationem facere harum itaque laboriosam optio
                            quisquam
                            repellat vel.
                            <br><br>

                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cumque distinctio dolores eligendi labore, molestias necessitatibus placeat quam quia
                            quibusdam
                            vel.
                            Aut beatae delectus deserunt dolor doloremque eligendi eos error,
                            fuga in laudantium libero magni modi nam nihil non!
                            Aperiam blanditiis dolorem facere hic illum magni mollitia provident rem sequi vero!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ad dolorem dolores, harum, iure nisi numquam officia omnis optio perferendis quasi quos
                            tempore
                            temporibus voluptatum.
                            Animi magni modi quaerat quisquam recusandae?

                        </p>
                    </div>
                </div>{% include 'partials/livres.html.twig' %}
            </section>


        </div>

        </div>
    {% endblock %}


