<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block titre %}Gigastore{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('lib/bootstrap/css/bootstrap.' ~ themeController.getCurrentTheme() ~ '.min.css') }}" rel="stylesheet">
        <link href="{{ asset("lib/fontawesome/css/font-awesome.min.css" ) }}" rel="stylesheet">
        <link href="{{ asset("lib/css/style.css" ) }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block navbar %}
    {% include 'partials/navigation.html.twig' %}
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% block aside %}
                {% include 'partials/aside.html.twig' %}
            {% endblock %}
        </div>
        <div class="col-md-9">
            {% block section %}

            {% endblock %}
        </div>
    </div>


    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}
</div>

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/763549d8c8.js" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>